html, body {
    margin: 0;
    font-family: "Cambria Math";
}

header {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

h1 {
    font-size: 32pt;
}

.content {
    padding: 20pt;
    font-size: 20pt;
    height: available;
}

.task {
    padding: 10pt;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 3px 2px black;
}

.task:hover .main-condition {
    font-size: 23pt;
    font-weight: bold;
    color: #ff4444;
}

.check-area {
    margin: 5pt 0;
    padding: 20pt;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: dimgrey;
}

.check-area-controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-area-controls input {
    margin-right: 5pt;
    width: 50%;
    border: 2px solid black;
    font-size: 20pt;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

input.valid {
    border: 3px solid #11cc11;
    color: #11cc11;
}

input.invalid {
    border: 3px solid #991111;
    color: #991111;
}

.check-area-controls button {
    margin-left: 5pt;
    font-size: 20pt;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.check-area-controls-item:focus, .check-area-controls-item:active {
    outline: none;
}

.results {
    display: flex;
    flex-direction: column-reverse;
    margin: 5pt;
    padding: 10pt;
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
}

.result {
    border-radius: 5px;
    margin: 3pt;
    padding: 5pt;
}

.good {
    border: 2px solid #115511;
    background-color: forestgreen;
    color: white;
}

.not-good {
    border: 2px solid #551111;
    background-color: #991111;
    color: white;
}

footer {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 20pt;
}

footer > div {
    display: flex;
    flex-direction: column;
    padding: 10pt;
}